.container {
    padding: 1rem 1rem;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
}

.paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--gray-11);
}

.divider {
    border: 0;
    height: 1px;
    background-color: var(--green-6);
    margin: 4rem auto;
    width: 80%;
    max-width: 1000px;
}
