.solutionsSection {
    padding: 4rem 2rem;
    text-align: center;
}

.title {
    color: var(--green-9);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.solutionsContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.solutionCard {
    background-color: var(--gray-5);
    padding: 2rem;
    border-radius: 8px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.solutionCard h3 {
    color: var(--green-9);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.solutionCard p {
    font-size: 1rem;
}
